.container {
  position: relative;
}
.grid {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
}
.grid .cell {
  position: relative;
  aspect-ratio: 1;

  background-image: var(--bg-url);
  background-size: cover;
  image-rendering: pixelated;

  background-color: var(--bg-color);

  color: var(--fg-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.grid .cell .emoji {
  font-size: clamp(14px, 100vw / var(--grid-columns) / 2, 400px);
  animation: shiver 1.5s infinite linear;
}
.grid .cell .cell__info {
  position: absolute;
  top: 0;
  left: 0;
  font-size: clamp(4px, 100vw / var(--grid-columns) / 6, 400px);

  background-color: rgba(0,0,0,0.1);
  padding: 0.1rem 0.25rem;
  backdrop-filter: blur(10px);
  border-radius: 1rem;
}
.grid .cell .cell__debug {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: clamp(4px, 100vw / var(--grid-columns) / 6, 400px);

  background-color: rgba(0,0,0,0.1);
  padding: 0.1rem 0.25rem;
  backdrop-filter: blur(10px);
  border-radius: 1rem;
}

.obj {
  position: absolute;

  animation: shiver 0.3s infinite linear;
}

@keyframes shiver {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  10% {
    transform: translate(-1px, 1px) rotate(-0.5deg);
  }
  20% {
    transform: translate(1px, -1px) rotate(0.5deg);
  }
  30% {
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  40% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  50% {
    transform: translate(-1px, 1px) rotate(-0.5deg);
  }
  60% {
    transform: translate(1px, -1px) rotate(0.5deg);
  }
  70% {
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  80% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }
  90% {
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.cell-slide {
  background-repeat: repeat; /* Allows seamless looping */
  animation: slideBg 16s linear infinite;
}
@keyframes slideBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100vw 0;
  }
}

.shake-animation {
  animation: shake-tilt 0.2s ease-in-out infinite;
}
@keyframes shake-tilt {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(4deg);
  }
}

.shake-animation {
  animation: shake-tilt 0.2s ease-in-out infinite;
}
.jump-animation {
  animation: jump 0.2s ease-in-out infinite;
}
@keyframes shake-tilt {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(4deg);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
    /* Fast departure from the ground */
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  100% {
    /* Peak height of the jump */
    transform: translateY(-1rem);
    /* Fast descent */
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
}
